:root {
  /* --adventure-background: #E3963E; */
  --adventure-background:#354152;
  --mystery-background:#1f2937;
  /* --mystery-background:#1f2937; */
  --biography-background:#354152;
  --book-card-background: #008b8b;
  --book-background: #ffb6c1;
  --read-mark-background: cyan;
}

body {
  font-family: sans-serif;
}

.page-container {
  height: 100%;
  background-color: #bbbbbb;
}

.main-wrapper {
  height: 100%;
  margin: 0 10vw;
  /* border: 1px solid black; */
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
}

.adventure {
  background-color: var(--adventure-background);
}

.mystery {
  background-color: var(--mystery-background);
}

.biography {
  background-color: var(--biography-background);
}

.book-section-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: calc(0.5vh + 2vw);
  padding: calc(0.5vh + 2vw) 0;
}

.book-section-wrapper h2 {
  align-self: center;
  font-size: calc(1vh + 2vw);
  color: #d6d4d4;
}

.book-section {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  padding: 0 20px
}

.book-wrapper {
  display:grid;
  width: 240px;
  height: 200px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding: 20px;
  background-color: var(--book-card-background);
}

.book {
  display: flex;
  width: 100px;
  height: 150px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--book-background);
}

.read-mark {
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4px;
  left: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--read-mark-background);
}

.book-information-interaction-wrapper {
  display: flex;
  max-height: 150px;
  flex-direction: column;
  gap:40px
}

.book-information {
  width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.interaction-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.interaction-buttons button {
  width: 35px;
  height: 35px;
}

.interaction-buttons button i {
  font-size: 18px
}

.add-book-section {
  width: 100%;
  height: 100%;
}