:root {
  --title-color: #d6d4d4;
  --subtitle-color: #adadad;
  --dark-background:#354152;
  --darker-background:#1f2937;
  --book-card-background: #008b8b;
  --book-background: #ffb6c1;
  --read-mark-background: cyan;
}

body {
  font-family: sans-serif;
}

.page-container {
  height: 100%;
  background-color: #d8d7d7;
}

.header-wrapper {
  display: flex;
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 1;
  padding: 0 11vw;
  background-color: var(--darker-background);
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header h1 {
  font-weight: bolder;
  font-size: calc(1vw + 1.5vh);
  color: var(--title-color);
}

.header-link-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  gap: 25px;
}

.header-link-box a {
  font-size: calc(0.5vw + 1.5vh);
  font-weight: bold;
  color: var(--subtitle-color);
  text-decoration: none;
}

.main-wrapper {
  height: 100%;
  margin: 0 10vw;
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
}

.adventure {
  background-color: var(--dark-background);
}

.mystery {
  background-color: var(--darker-background);
}

.biography {
  background-color: var(--dark-background);
}

.book-section-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: calc(0.5vh + 2vw);
  padding: calc(0.5vh + 2vw) 0;
}

.book-section-wrapper h2 {
  align-self: center;
  font-size: calc(1vh + 2vw);
  font-weight: bold;
  color: var(--title-color);
}

.book-section {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  padding: 0 20px
}

.book-wrapper {
  display:grid;
  width: 240px;
  height: 200px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding: 20px;
  background-color: var(--book-card-background);
}

.book {
  display: flex;
  width: 100px;
  height: 150px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--book-background);
}

.read-mark {
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4px;
  left: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--read-mark-background);
}

.book-information-interaction-wrapper {
  display: flex;
  max-height: 150px;
  flex-direction: column;
  gap:40px
}

.book-information {
  width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.interaction-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.interaction-buttons button {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.interaction-buttons button i {
  font-size: 18px
}

.add-book-section {
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: var(--darker-background);
}

.add-book-section button {
  width: 200px;
  height: 50px;
  font-size: calc(1vw + 0.5vh);
  font-weight: bolder;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 8px;
  color: var(--title-color);
  background-color: var(--book-card-background);
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.text-box h3 {
  font-size: calc(2vw + 2vh);
  font-weight: bolder;
  color: var(--title-color);
}

.text-box p {
  font-size: calc(1.5vw + 1vh);
  color: var(--subtitle-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

form label:has(> input[type=radio]) {
  display: block;
}